<header style="height: 30px;background-color: #8471ff;">
</header>


<main class="container">
  <img id="img1" src="assets/img/students_schoool_footer2.png" style="height: 200px;" class="rounded-circle" alt="Photo nahi mili!"> 
  <img id="img2" src="assets/img/programs-child-img-view.png" style="height: 200px;" class="rounded-circle" alt="Photo nahi mili!"> 
   <img id="img3" src="assets/img/students_schoool_footer2.png" style="height: 200px;" class="rounded-circle" alt="Photo nahi mili!"> 
   <hr/>


   <div class="form-group" style="width: 60%">
    <label for="username" style="font-size: 18px;font-weight: bold;">Username</label>
   
    <input #pusername  type="text" id="username" name="username" class="form-control">
    <span style="color:red;font-size:18px;" id="eusername"></span>
</div>

<div class="form-group" style="width: 60%">
  <label for="password" style="font-size: 18px;font-weight: bold;">Password</label>
 
  <input #password  type="password" id="password" name="password" class="form-control">
  <span style="color:red;font-size:18px;" id="eusername"></span>
</div>

<div class="form-group">
  <button type="button"  (click)="welcomePlease(pusername.value,password.value);"   class="btn btn-primary">WELCOME</button>
   &nbsp;
     <button type="button" (click)="clearMessage();" class="btn btn-danger">Clear</button>
</div>

 <hr/>
  <span style="font-size: 18px;color: blueviolet;font-weight: bold;">{{message}}</span>

</main>